body {
    background-color: #ffafcc;
    background: linear-gradient(171deg, rgba(255,175,204,1) 0%, rgba(255,56,205,1) 100%); 
    /* end hex: #ff38cd*/
    height: 100%;
    font-family: "Poppins", sans-serif;
}

section {
    /* border: 1px red solid; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* padding: .5em; */
    margin-bottom: 4em;
    padding: 0em 1em;
}

/* CLASSES */
.text {
    font-size: 72px;
    font-weight: 700;
    color: white;
    opacity: 0;
    visibility: hidden;
    /* transition: all 2s; */
}

.left_text {
    text-align: left;
}

.right_text {
    text-align: right;
}

.smaller {
    font-size: 18px;
}

.visible {
    opacity: 1;
    visibility: visible;
    transition: all 2s;

    /* font-size: 84px; */
}

.shadow_animation {
    text-shadow: 5px 5px black;
    transition: all 2s;
}

.love {
    color: red;
    /* text-shadow: 2px 2px black; */
}

.sliding_box {
    width: 100%;
    height: 16.67%;
    background-color: black;
    transition: all 2s;
    /* visibility: hidden; */
}

.right_box {
    transform: translateX(-100%);
    
}

.left_box {
    transform: translateX(100%);
}

.move_to_center {
    transform: translateX(0%);
    transition: all 2s;
    /* visibility: visible; */
}


/* IDs */
#first {
    justify-content: space-evenly;
}

#second {
    justify-content: space-between;
}

#second p {
    line-height: 1.3em;
}

#third {
    padding: 0;
    overflow: hidden;
}